
{
    margin: 0;
    padding:0;

}
.cabecalho{
    background-color: rgb(105, 124, 211);
    color:rgb(211, 62, 51);
    display: flex;
    justify-content: space-around; 
    padding: 25px 0;
    font-size: 32px;
}

.cabecalhoListaItem{
    display:inline-block;
    margin: 0 25px;
    padding: 6px 0; 
}

.sobreImagem{
           width: 40%;
}

.sobre{
        background-image: linear-gradient(#1d5010);
        color: rgb(38, 122, 42);
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 15px 19px;
}

.sobreConteudo{
        width: 300px;
}

.sobreTitulo{
         padding: 12px 16x;
}


Aviso: "/*Novo CSS*/ .membroImagem{…"
RUAN VICTOR RODRIGUES DOS SANTOS
Criado em: 11:0911:09
/*Novo CSS*/
.membroImagem{
width:120px;
}

.membroIcone{
width: 24px;
}

.membroDiv{
text-align: center;
}

.membrosTitulo{
text-align:center;
padding: 50px 0;
}

.membrosTodos{
display: grid;
/*Transforma o display em quadrados*/
grid-template-columns: 10% 20% 20% 20% 20%;
/*Quanto cada coluna ocupa na página, em sequência*/
}

.membroDiv{
text-align:center;
padding-bottom: 34px;
}

.membros{
background-color: rgb(218, 112, 80)
{